.parlay {
    background-color: var(--text-background);
    color: var(--text-content-primary);
}

.token--fill {
    font-style: normal;
}

.parlay-token-abs-id {
    color: var(--text-accent-violet);
}

.parlay-token-dot {
    color: var(--text-accent-green);
    font-weight: bold;
}

.parlay-token-punctuation-abs {
    color: var(--text-accent-violet);
    opacity: 60%;
}

.parlay-token-punctuation-var {
    color: var(--text-accent-blue);
    opacity: 60%;
}

.parlay-token-punctuation {
    color: var(--text-content-secondary);
}

.parlay-token-label {
    color: var(--text-accent-yellow);
    font-variant: small-caps;
}

.parlay-token-free-id {
    font-style: italic;
    color: var(--text-accent-blue);
}

.parlay-token-bound-id {
    font-style: italic;
    color: var(--text-accent-green);
}

.parlay-token-id {
    font-style: oblique;
    color: var(--text-content-primary);
}

.parlay-token-invalid {
    color: var(--text-accent-red);
}


.nested-block {
    border-left: 2px solid var(--text-background-highlights);
    padding-left: 5px;
    margin-left: 10px;
    display:block;
}

.nested-entry {
    border-top: 2px dotted var(--text-background-highlights);
    padding-top: 5px;
    display:block;
}

.nested-invalid-entry {
    /* border-top: 2px dotted var(--text-background-highlights); 
    padding-top: 5px;*/
    display:span;
    color: var(--text-accent-red);
}
