.parlay {
    background-color: var(--text-background);
    color: var(--text-content-primary);
}

.token--fill {
    font-style: normal;
}

.parlay-block {
    border-left: 2px solid var(--text-background-highlights);
    padding-left: 0.2ch;
    margin-left: 10px;
    display: block;
}

.parlay-indented-block {
    border-left: 2px solid var(--text-background-highlights);
    padding-left: 2.2ch;
    margin-left: 10px;
    display: block;
}

.parlay-entry {
    border-top: 2px dotted var(--text-background-highlights);
    padding-top: 5px;
    display: block;
}

.parlay-entry-row {
    padding-left: 0.2ch;
}

.parlay-indented-entry-row {
    padding-left: 2ch;
}


.nested-invalid-entry {
    /* border-top: 2px dotted var(--text-background-highlights); 
    padding-top: 5px;*/
    display: span;
    color: var(--text-accent-red);
}
