.parlay {
    background-color: var(--text-background);
    color: var(--text-foreground);
    width: 40%;
    height: 800px;
    padding: 5px;
    display: inline-block;
    font-size: 11px;
    font-family: stixtwotext, fallback;
}

#parlay-debug {
    width: 45%;
    height: 800px;
    padding: 5px;
    background-color: var(--text-background);
    color: var(--text-foreground);
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    white-space: pre;
    overflow: scroll;
    font-size: 10px;
}

.parlay-button {
    padding: 1ch;
    margin: 1ch;
    border: solid 1px var(--text-yellow);
    border-radius: 1ch;
    color: var(--text-accent-yellow);
    background-color: var(--text-background);
}

.parlay-button:hover {
    background-color: var(--text-bg1);
}

.parlay-button:active {
    background-color: var(--text-yellow);
    color: var(--text-background);
}

.parlay-body {
    background-color: var(--text-background);
    color: var(--text-foreground);
}

.compound {
    background-color: var(--text-background);
    color: var(--text-foreground);
    margin: 1cm;
    padding: 0.2cm;
    border: solid 5px var(--text-blue);
    white-space: pre;
}


